@model List<SliderGetModel>
@{
    Layout = "_AdminLayout";
}   @* layout *@

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Sliderlar</h5>
                <a asp-action="Create" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped mb-0">
                        <thead class="table-secondary">
                            <tr>
                                <th style="width: 20px;">Id</th>
                                <th style="width: 200px;">Resim</th>
                                <th>Başlık</th>
                                <th>Aktif</th>
                                <th>Index</th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var slider in Model)
                            {

                                <tr>
                                    <td>@slider.Id</td>
                                    <td>
                                        <img src="~/img/@slider.Resim" class="img-fluid" alt="">
                                    </td>
                                    <td>@slider.Baslik</td>
                                    <td>
                                        <i class="fa-solid fa-circle-check text-success"></i>
                                    </td>
                                    <td>1</td>
                                    <td>
                                        <a href="kategori-ekle.html" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>